<footer>
    <div class="f1">
        <h3>{{ footer.title }}</h3>
        <p>{{ footer.email }}</p>
        <p>{{ footer.phone }}</p>
    </div>
    <div class="f2">
        <p>{{ footer.address }}</p>
    </div>
    <div class="f3">
        <img src="{{ socialMedia.instagram }}" alt="instagram">
        <img src="{{ socialMedia.facebook }}" alt="facebook">
    </div>
</footer>