{% extends '_layout.twig' %}

{% block content %}
    {% set bookQuery = craft.entries().section('books').limit(6) %}

    {% set authorParam = craft.app.request.getParam('authors') %}
    {#  {% set genreParam = craft.app.request.getParam('genre') %}#}

    {% set selectedFilters = authorParam ? authorParam|split(',') : [] %}

    {% if selectedFilters | length %}
        {% set bookQuery = bookQuery.relatedTo({ targetElement:selectedFilters, field: 'authors' }) %}
    {% endif %}

    {#  {% if genreParam | length %}
        {% set books = books.relatedTo({ targetElement:genreParam }) %}
    {% endif %}#}

    {% set authors = craft.entries.section('authors').all() %}
    {#  {% set genres = craft.entries.section('genre').all() %}#}

    <header class="header-products">
        <div class="products-headertekst">
            <h1>Shop</h1>
            <p>Our virtual shelves are brimming with a diverse collection of books, covering every genre, topic, and age
                group. From timeless classics to the latest bestsellers, from gripping mysteries to heartwarming
                romances,
                and from insightful non-fiction to children's picture books, there's something for every reader within
                our
                pages.</p>
        </div>
        <div class="products-boekenrek">
            {% set productsImage = overzichtspagina.productsImage.one() %}
            {% if productsImage %}
                <img src="{{ productsImage.url }}" alt="{{ productsImage.title }}">
            {% endif %}
        </div>
    </header>

    <main class="main-products">
        <div class="filter">
            {% for author in authors %}
                <button type="{{ author.id }}">{{ author.title }}</button>
            {% endfor %}

            {% for genre in genres %}
                <button type="{{ genre.id }}">{{ genre.title }}</button>
            {% endfor %}

            <button type="submit">Filter</button>
        </div>

        <div class="page">
            {% paginate bookQuery as pageInfo, pageEntries %}

            {% if pageEntries|length %}

                {% for book in pageEntries %}
                    {% if book.image | length %}
                        {% set image = book.image.one() %}
                    {% endif %}
                    {% include '_snippets/_productCard.twig' with {
                        book: book,
                        image: image
                    } %}
                {% endfor %}




            {% endif %}
            {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous</a> {% endif %}
            {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next</a> {% endif %}


        </div>
    </main>

{% endblock %}