{% extends '_layout.twig' %}

{% block content %}
    {% set slug = craft.app.request.getSegment(2) %}
    {% set book = craft.entries.section('books').slug(slug).one() %}
    {% set image = book.image.one() %}

    {% if book %}
        <main class="main-fourthwing">
            <img class="afb" src="{{ image.url }}" alt="{{ book.title }}">
            <div class="inhoud">
                <h1>{{ book.title }}</h1>
                <h3>{{ book.bookAuthor }}</h3>
                <p>{{ book.description }}</p>
            </div>
            <div class="prijs">
                <h2>{{ book.price|money('be') }}</h2>
                <div class="aantal">
                    <button>&laquo;</button>
                    <a class="cijfer" href="#"></a>
                    <button>&raquo;</button>
                </div>

                <a class="but">
                    <button id="buy">Add to cart</button>
                </a>
                <p></p>
            </div>
        </main>
    {% else %}
        <p>Book not found.</p>
    {% endif %}
{% endblock %}
